<a href="https://colab.research.google.com/github/Jatin360479/data-structure-assignmrnt/blob/main/data_structure_second_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. WRITE A CODE TO REVERSE A STRING

In [ ]:
def reverse_string(s):
    return s[::-1]
print(reverse_string("hello world"))

dlrow olleh

2. WRITE A CODE TO COUNT VOWELS IN A STRING

In [ ]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count
print(count_vowels("data structure assignment"))

8

3. WRITE A CODE TO CHECK IF THE STRING IS PALINDROME OR NOT

In [ ]:
def is_palindrome(s):
    if len(s) <= 1:
        return True
    else:
        if s[0] == s[-1]:
            return is_palindrome(s[1:-1])
        else:
            return False
print(is_palindrome("madam"))

True

4.WRITE A CODE TO CHECK IF TWO GIVEN STRINGS ARE ANAGRAMS OF EACH OTHER

In [ ]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)

In [ ]:
print(are_anagrams("listen","silent"))

True

5. WRITE A CODE TO FIND ALL OCCURENCES OF A GIVEN SUBSTRING WITHIN ANOTHER STRING.

In [ ]:
def find_subsrtring(string, substring):
    words = []
    start = 0
    while True:
        index = string.find(substring, start)
        if index == -1:
            break
        words.append(index)
        start = index + 1
    return words
print(find_subsrtring("hello world", "o"))

[4, 7]

6. WRITE A CODE TO PERFORM BASIC STRING COMPRESSION USING THE COUNTS OF REPEATED CHARACTERS.

In [ ]:
def compress_string(s):
  s=s.upper()
  count=1
  res=''
  for i in range(1,len(s)):
    if s[i]==s[i-1]:
      count+=1
    else:
      res+=s[i-1]+str(count)
      count=1
  res+=s[-1]+str(count)
  return res
print(compress_string("aaabbbccc"))

A3B3C3

7.WRITE A CODE TO DETERMINE IF A STRING HAS  ALL CHARACTER UNIQUE.

In [ ]:
def has_unique_characters(S):
  for i in range(len(S)):
    for j in range(i+1,len(S)):
      if S[i]==S[j]:
        return False
  return True
print(has_unique_characters("jatin"))

True

8. WRITE A CODE TO CONVERT A GIVEN STRING TO UPPERCASE OR LOWER CASE

In [ ]:
def upper_lower(S):
  return S.lower()
print(upper_lower("JATIN"))

jatin

In [ ]:
def upper_lower(S):
  return S.upper()
print(upper_lower("jatin"))

JATIN

9.WRITE A CODE TO COUNT THE NO OF WORDS IN A STRING.

In [ ]:
def count_words(s):
  words=s.split()
  return len(words)
print(count_words("hello world"))

2

10.WRITE A CODE TO CONCATENATE TWO STRINGS WITHOUT USING + OPERATOR.

In [ ]:
def concat_string(s1,s2):
  return ''.join((s1,s2))
print(concat_string("hello","world"))

helloworld

11.WRITE A CODE TO REMOVE ALL OCCURENCES OF SPECIFIC ELEMENTS FROM A LIST.

In [ ]:
def remove_elements(lst, elements_to_remove):
    return [x for x in lst if x not in elements_to_remove]
lst = [1, 2, 3, 4, 2, 5, 6, 2, 7]
elements_to_remove = [2, 5]
result = remove_elements(lst, elements_to_remove)
print(result)

[1, 3, 4, 6, 7]

12.IMPLEMENT A CODE TO FIND THE SECOND LARGEST NUMBER IN A GIVEN LIST OF INTEGERS.

In [ ]:
def second_largest(lst):
  lst.sort()
  return lst[-2]
print(second_largest([1,2,3,4,5]))

4

13.CREATE A CODE TO COUNT THE OCCURENCES OF EACH ELEMENTS IN A STRING AND RETURN A DICTIONARY WITH ELEMENTS AS KEYS AND THEIR COUNTS AS VALUES.

In [ ]:
def count_elements(s):
  count={}
  for char in s:
    if char in count:
      count[char]+=1
    else:
      count[char]=1
  return count
print(count_elements("helloworld"))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

14.WRITE A CODE TO REVERSE A LIST IN-PLACE WITHOUT USING ANY BUILT-IN REVERSE FUNCTION.

In [ ]:
def reverse_list(lst):
  start=0
  end=len(lst)-1
  while start<end:
    lst[start],lst[end]=lst[end],lst[start]
    start+=1
    end-=1
  return lst
print(reverse_list([1,2,3,4,5]))

[5, 4, 3, 2, 1]

15.IMPLEMENT A CODE TO FIND AND REMOVE DUPLICATES FROM A LIST WHILE PRESERVING THE ORIGINAL ORDER OF ELEMENTS.

In [ ]:
def remove_duplicates(lst):
  unique_lst=[]
  for item in lst:
    if item not in unique_lst:
      unique_lst.append(item)
  return unique_lst
print(remove_duplicates([1,2,3,4,5,2,3,4,5]))

[1, 2, 3, 4, 5]

16.CREATE A CODE TO CHECK IF A GIVEN LIST IS SORTED (EITHER IN ASCENDING OR DECENDING ORDER) OR NOT.

In [ ]:
def is_sorted(lst):
  return lst==sorted(lst) or lst==sorted(lst,reverse=True)
print(is_sorted([1,2,3,4,5]))

True

17.WRITE A CODE TO MERGE TWO SORTED LIST INTO A SINGLE SORTED LIST.

In [ ]:
def merge_sorted_list(lst1,lst2):
  lst1.extend(lst2)
  lst1.sort()
  return lst1
print(merge_sorted_list([1,2,3,4,5],[6,7,8,9,10]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

18.IMPLEMENT A CODE TO FIND THE INTERSECTION OF TWO GIVEN LISTS.

In [ ]:
def intersection(lst1,lst2):
  return list(set(lst1) & set(lst2))
print(intersection([1,2,3,4,5],[4,5,6,7,8]))

[4, 5]

19.CREATE A CODE TO FIND THE UNION OF TWO LISTS WITHOUT DUPLICATES.

In [ ]:
S1=[1,2,3,4,5]
S2=[4,5,6,7,8]
print(list(set(S1) | set(S2)))

[1, 2, 3, 4, 5, 6, 7, 8]

20.WRITE A CODE TO SHUFFLE A GIVEN LIST RANDOMLY WITHOUT USING ANY BUILT-IN SHUFFLE FUNCTION.

In [ ]:
def shuffle(lst):
  import random
  for i in range(len(lst)-1,0,-1):
    j=random.randint(0,i)
    lst[i],lst[j]=lst[j],lst[i]
  return lst
print(shuffle([1,2,3,4,5]))

[4, 5, 3, 2, 1]

21.WRITE A CODE THAT TAKES TWO TUPLES AS INPUT AND RETURNS A NEW TUPLE CONTAINING ELEMENTS THAT ARE COMMON TO BOTH INPUT TUPLES.

In [ ]:
def main():
    # Get two tuples from user
    # The function get_tuple_from_user has not been defined.
    # A new function definition is included below.

    def get_tuple_from_user(prompt): # Define get_tuple_from_user before it's called
        input_str = input(prompt)
        str_list = input_str.split(",")
        int_tuple = tuple(int(x.strip()) for x in str_list)
        return int_tuple

    tuple1 = get_tuple_from_user(("Enter first tuple (comma-separated values): "))
    tuple2 = get_tuple_from_user(("Enter second tuple (comma-separated values): "))

    # Find and print common elements
    # Define find_common_elements
    def find_common_elements(tuple1,tuple2):
        common_elements=tuple(set(tuple1) & set(tuple2))
        return common_elements

    common_elements = find_common_elements(tuple1, tuple2)

    print("Common elements in the two tuples:")
    print(common_elements)

if __name__ == "__main__":
    main()

Enter first tuple (comma-separated values): 7,8,9,10
Enter second tuple (comma-separated values): 9,10,11,12
Common elements in the two tuples:
(9, 10)

22.CREATE A CODE THAT PROMOTES THE USER TO ENTER TWO SETS OF INTEGERS SEPARATED BY COMMAS . THEN PRINT THE INTERSECTION OF THESE TWO SETS.

In [ ]:
def main():
    # Get two sets from user
    # The function get_set_from_user has not been defined.
    # A new function definition is included below.
    set1 = get_set_from_user("Enter first set of integers (separated by commas): ")
    set2 = get_set_from_user("Enter second set of integers (separated by commas): ")

    # Calculate and print intersection
    intersection = set1 & set2
    print("Intersection of the two sets:")
    print(intersection)

def get_set_from_user(prompt):
    # Get input from user
    input_str = input(prompt)
    # Split input into a list of strings
    str_list = input_str.split(",")
    # Convert the list of strings into a set of integers
    int_set = {int(x.strip()) for x in str_list}
    return int_set

if __name__ == "__main__":
    main()

Enter first set of integers (separated by commas): 1,2,3,4,5
Enter second set of integers (separated by commas): 4,5,6,7,8
Intersection of the two sets:
{4, 5}

23.WRITE A CODE TO CONCATENATE TWO TUPLES. THE FUCTION SHOULD TAKE TWO TUPLES AS INPUT AND RETURN A NEW TUPLE CONTAINING ELEMENTS FROM BOTH INPUT TUPLES.

In [ ]:
def main():
  tuple1 = get_tuple_from_user("Enter first tuple (comma-separated values): ")
  tuple2 = get_tuple_from_user("Enter second tuple (comma-separated values): ")
  concatenated_tuple = concatenate_tuples(tuple1, tuple2)
  print("Concatenated tuple:")
  print(concatenated_tuple)
def get_tuple_from_user(prompt):
  input_str = input(prompt)
  str_list = input_str.split(",")
  int_tuple = tuple(int(x.strip()) for x in str_list)
  return int_tuple

def concatenate_tuples(tuple1, tuple2):
  concatenated_tuple = tuple1 + tuple2
  return concatenated_tuple
if __name__ == "__main__":
  main()

Enter first tuple (comma-separated values): 1,2,3,4
Enter second tuple (comma-separated values): 5,6,7,8
Concatenated tuple:
(1, 2, 3, 4, 5, 6, 7, 8)

24.DEVELOP A CODE THAT PROMOTES THE USER TO INPUT TWO SETS OF STRINGS. THEN PRINT THE ELEMENTS THAT ARE PRESENT IN THE FIRST SET BUT NOT IN THE SECOND SET.

In [ ]:
def main():
  set1 = get_set_from_user("Enter first set of strings (comma-separated values): ")
  set2 = get_set_from_user("Enter second set of strings (comma-separated values): ")
  difference = set1 - set2
  print("Elements in the first set but not in the second set:")
  print(difference)

def get_set_from_user(prompt):
  input_str = input(prompt)
  str_list = input_str.split(",")
  str_set = {x.strip() for x in str_list}
  return str_set
if __name__ == "__main__":
  main()

Enter first set of strings (comma-separated values): 7,8,9,10
Enter second set of strings (comma-separated values): 10,11,12,13
Elements in the first set but not in the second set:
{'8', '9', '7'}

25.CREATE A CODE THAT TAKES A TUPLE AND TWO INTEGERS AS INPUT.THE FUNCTION SHOULD RETURN A NEW TUPLE CONTAINING ELEMENTS FROM THE ORIGINAL TUPLE WITHIN THE SPECIFIED RANGE OF INDICES.

In [ ]:
def main():
  input_tuple = get_tuple_from_user("Enter a tuple (comma-separated values): ")
  start_index = int(input("Enter the start index: ")) #This line was causing the error. Remove the int() cast
  end_index = int(input("Enter the end index: "))
  result_tuple = get_elements_within_range(input_tuple, start_index, end_index)
  print("New tuple with elements within the specified range:")
  print(result_tuple)

def get_tuple_from_user(prompt):
  input_str = input(prompt)
  str_list = input_str.split(",")
  int_tuple = tuple(int(x.strip()) for x in str_list)
  return int_tuple # The original code was returning int instead of int_tuple. Changed to return int_tuple

def get_elements_within_range(input_tuple, start_index, end_index):
  result_tuple = input_tuple[start_index:end_index+1]
  return result_tuple
if __name__ == "__main__":
  main()

Enter a tuple (comma-separated values): 1,2,3,4,5,6,7,8,9
Enter the start index: 4
Enter the end index: 7
New tuple with elements within the specified range:
(5, 6, 7, 8)

26.WRITE A CODE THAT PROMOTES THE USER TO INPUT TWO SETS OF CHARCTER.THEN PRINT THE UNION OF THESE TWO SETS.

In [ ]:
def main():
  set1 = get_set_from_user("Enter first set of characters (comma-separated values): ")
  set2 = get_set_from_user("Enter second set of characters (comma-separated values): ")
  union = set1 | set2
  print("Union of the two sets:")
  print(union)

def get_set_from_user(prompt):
  input_str = input(prompt)
  char_list = list(input_str)
  char_set = set(char_list)
  return char_set

if __name__ == "__main__":
  main()

Enter first set of characters (comma-separated values): 1,2,3,4,5
Enter second set of characters (comma-separated values): 4,5,6,7
Union of the two sets:
{'3', '7', '5', '6', '4', '2', '1', ','}

27.DEVELOP A CODE THAT TAKES A TUPLE OF INTEGERS AS INPUT. THE FUNCTION SHOULD RETURN THE MAXIMUM AND MINIMUM VALUES FROM THE TUPLE USING TUPLE UNPACKING.

In [ ]:
def main():
  input_tuple = get_set_from_user("Enter a tuple of integers (comma-separated values): ")
  max_value, min_value = find_max_min(input_tuple)
  print("Maximum value:", max_value)
  print("Minimum value:", min_value)

def get_set_from_user(prompt):
  input_str = input(prompt)
  str_list = input_str.split(",")
  int_tuple = tuple(int(x.strip()) for x in str_list)
  return int_tuple

def find_max_min(input_tuple):
  max_value = max(input_tuple)
  min_value = min(input_tuple)
  return max_value, min_value
if __name__ == "__main__":
  main()

Enter a tuple of integers (comma-separated values): 45,47,78,98,63
Maximum value: 98
Minimum value: 45

28.CREATE A CODE THAT DEFINE TWO SETS OF INTEGERS.THEN PRINT THE UNION,INTERSECTION,AND DIFFERENCE OF THESE TWO SETS.

In [ ]:
def main():
  set1 = get_set_from_user("Enter first set of integers (comma-separated values): ")
  set2 = get_set_from_user("Enter second set of integers (comma-separated values): ")
  union = set1 | set2
  intersection = set1 & set2
  difference = set1 - set2
  print("Union of the two sets:")
  print(union)
  print("Intersection of the two sets:")
  print(intersection)
  print("Difference of the two sets:")
  print(difference)

def get_set_from_user(prompt):
  input_str = input(prompt)
  str_list = input_str.split(",")
  int_set = {int(x.strip()) for x in str_list}
  return int_set
  print(int_set)

if __name__ == "__main__":
  main()

Enter first set of integers (comma-separated values): 44,45,46,47
Enter second set of integers (comma-separated values): 46,47,48,49
Union of the two sets:
{44, 45, 46, 47, 48, 49}
Intersection of the two sets:
{46, 47}
Difference of the two sets:
{44, 45}

29.WRITE A CODE THAT TAKES A TUPLE AND AN ELEMENT AS INPUT. THE FUNCTION SHOULD RETURN THE COUNT OF OCCURENCES OF THE GIVEN ELEMENT IN THE TUPLE.

In [ ]:
def main():
  input_tuple = get_tuple_from_user("Enter a tuple (comma-separated values): ")
  element = int(input("Enter an element to count: "))
  count = count_element(input_tuple, element)
  print("Count of", element, "in the tuple:", count)
def get_tuple_from_user(prompt):
    input_str = input(prompt)
    str_list = input_str.split(",")
    int_tuple = tuple(int(x.strip()) for x in str_list)
    return int_tuple

# de-indent count_element function to be in the global scope
def count_element(input_tuple, element):
      count = input_tuple.count(element)
      return count
if __name__ == "__main__":
  main()

Enter a tuple (comma-separated values): 1,2,3,2,4,2,5,2
Enter an element to count: 2
Count of 2 in the tuple: 4

30.DEVELOP A CODE THAT PROMOTES THE USER TO INPUT TWO SETS OF STRINGS. THEN PRINT THE SYMMETRIC DIFFERENCE OF THESE TWO SETS.

In [ ]:
def get_set_from_user(prompt):
    """
    Get a set of strings from user input.

    Args:
        prompt (str): The prompt to display to the user.

    Returns:
        set: A set of strings.
    """
    user_input = input(prompt)
    return set(user_input.split(','))


def main():
    # Get two sets from user
    set1 = get_set_from_user("Enter first set of strings (comma-separated): ")
    set2 = get_set_from_user("Enter second set of strings (comma-separated): ")

    # Calculate symmetric difference
    symmetric_diff = set1.symmetric_difference(set2)

    # Print symmetric difference
    print("Symmetric Difference:")
    print(symmetric_diff)


if __name__ == "__main__":
    main()

Enter first set of strings (comma-separated): 1,2,3,4,5
Enter second set of strings (comma-separated): 4,5,6,7,8
Symmetric Difference:
{'3', '8', '2', '1', '7', '6'}

31.WRITE A CODE A CODE THAT TAKES A LIST OF WORDS AS INPUT AND RETURNS A DICTIONARY WHERE THE KEYS ARE UNIQUE WORDS AND THE VALUES THE FREQUENCIES OF THOSE WORDS IS THE INPUT LIST.

In [ ]:
def main():
  input_list = get_list_from_user("Enter a list of words (comma-separated values): ")
  word_frequency = count_word_frequency(input_list)
  print("Word frequency dictionary:")
  print(word_frequency)

def get_list_from_user(prompt):
  input_str = input(prompt)
  str_list = input_str.split(",")
  return str_list
  print(str_list)

def count_word_frequency(input_list):
  word_frequency = {}
  for word in input_list:
    word = word.strip()
    if word in word_frequency:
      word_frequency[word] += 1
    else:
      word_frequency[word] = 1
  return word_frequency
if __name__ == "__main__":
  main()

Enter a list of words (comma-separated values): 4,5,6,7,8
Word frequency dictionary:
{'4': 1, '5': 1, '6': 1, '7': 1, '8': 1}

32.WRITE A CODE THAT TAKES TWO DICTIONARIES AS INPUT AND MERGES THEM INTO A SINGLE DICTIONARY. IF THERE ARE COMMON KEYS,THE VALUE SHOULD BE ADDED TOGETHER

In [13]:
def merge_dictionaries(dict1, dict2):
    # Convert dict1 to a dictionary
    dict1 = dict(item.split(":") for item in dict1)
    merged_dict = {**dict1, **dict2}
    for key in dict1.keys():
        if key in dict2.keys():
            merged_dict[key] = dict1[key] + dict2[key]
    return merged_dict
dict1 = input("Enter the first dictionary (comma-separated key-value pairs): ").split(',')
dict2 = {'b': 40, 'c': 50, 'd': 60}
print(merge_dictionaries(dict1, dict2))

Enter the first dictionary (comma-separated key-value pairs): {'a': 10, 'b': 20, 'c': 30}
{"{'a'": ' 10', " 'b'": ' 20', " 'c'": ' 30}', 'b': 40, 'c': 50, 'd': 60}

33.WRITE A COD ACCESS A VALUE IN A NESTED DICTIONARY. THE FUNCTION SHOULD TAKE THE DICTIONARY AND A LIST OF KEYS AS AS INPUT,AND RETURN THE CORRESPONDING VALUE.IF ANY OF THE KEYS DO NOT EXIST IN THE DICTIONARY, THE FUNCTION SHOULD RETURN NONE.

In [2]:
def access_nested_value(dictionary, keys):
    value = dictionary
    for key in keys:
        if isinstance(value, dict) and key in value:
            value = value[key]
        else:
            return None
    return value
nested_dict = {'a': {'b': {'c': 10}}, 'd': 20}
keys = ['a', 'b', 'c']

print(access_nested_value(nested_dict, keys))

keys = ['a', 'b', 'e']
print(access_nested_value(nested_dict, keys))

keys = ['d']
print(access_nested_value(nested_dict, keys))

10
None
20

34.WRITE A CODE THAT TAKES DICTIONARY AS INPUT AND RETURNS A SORTED VERSION OF IT BASED ON THE VALUES. YOU CAN CHOOSE WEATHER TO SORT IN ASCENDING AND DESCENDING ORDER.

In [3]:
# prompt: WRITE A CODE THAT TAKES DICTIONARY AS INPUT AND RETURNS A SORTED VERSION OF IT BASED ON THE VALUES. YOU CAN CHOOSE WEATHER TO SORT IN ASCENDING AND DESCENDING ORDER.

def sort_dictionary_by_values(dictionary, ascending=True):
    """
    Sorts a dictionary by its values.

    Args:
        dictionary (dict): The dictionary to sort.
        ascending (bool): Whether to sort in ascending order (True) or descending order (False).

    Returns:
        dict: A new dictionary sorted by values.
    """
    sorted_items = sorted(dictionary.items(), key=lambda item: item[1], reverse=not ascending)
    return dict(sorted_items)

# Example usage:
my_dict = {'apple': 3, 'banana': 1, 'cherry': 2}

sorted_ascending = sort_dictionary_by_values(my_dict)
print("Ascending order:", sorted_ascending)

sorted_descending = sort_dictionary_by_values(my_dict, ascending=False)
print("Descending order:", sorted_descending)

Ascending order: {'banana': 1, 'cherry': 2, 'apple': 3}
Descending order: {'apple': 3, 'cherry': 2, 'banana': 1}

35.WRITE A CODE THAT INVERTS A DICTIONARY,SWAPPING KEYS AND VALUES.ENSURE THAT THE INVERTED DICTIONARY CORRECTLY HANDLES CASES WHERE MULTIPLE KEYS HAVE THE SAME VALUE BY SORTING VALUE BY SORTING KEYS AS A LIST IN THE INVERTED DICTIONARY.

In [5]:
# prompt: WRITE A CODE THAT INVERTS A DICTIONARY,SWAPPING KEYS AND VALUES.ENSURE THAT THE INVERTED DICTIONARY CORRECTLY HANDLES CASES WHERE MULTIPLE KEYS HAVE THE SAME VALUE BY SORTING VALUE BY SORTING KEYS AS A LIST IN THE INVERTED DICTIONARY.

def invert_dictionary(dictionary):
    inverted_dict = {}
    for key, value in dictionary.items():
        if value not in inverted_dict:
            inverted_dict[value] = [key]
        else:
            inverted_dict[value].append(key)
    for key in inverted_dict:
        inverted_dict[key].sort()
    return inverted_dict


# Example usage:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 1, 'date': 3}
inverted_dict = invert_dictionary(my_dict)
print("Original dictionary:", my_dict)
print("Inverted dictionary:", inverted_dict)

Original dictionary: {'apple': 1, 'banana': 2, 'cherry': 1, 'date': 3}
Inverted dictionary: {1: ['apple', 'cherry'], 2: ['banana'], 3: ['date']}