                                            QUESTION NO. 1

In [11]:
# Queston 1 : Discuss string slicing and provide Examples.
"Answer : A string is a sequence of characters in which slicing as a part it work as (1:5:2) in which stating indexing is inclusive and end has a exclusive nature and the last one is steps on how many steps. normally we can understand it by (n,n-1)."

'Answer : A string is a sequence of characters in which slicing as a part it work as (1:5:2) in which stating indexing is inclusive and end has a exclusive nature and the last one is steps on how many steps. normally we can understand it by (n,n-1).'

In [12]:
# In reference to question 1
s=("Jatin")
str=s[0:4:2]    # here slicing is done as it prints Jt.
print(str)

Jt

                                                QUESTION NO 2

In [4]:
# Question 2 : Explain the key features of lists in python.
"Answer :These are the following key features of lists in python  1.Lists are heterogeneous in nature     2.Lists can get duplicate items.    3.Lists are mutable and dynamic in nature.     4.Items of lists can be added removed once a list is defined"

'Answer :These are the following key features of lists in python  1.Lists are heterogeneous in nature     2.Lists can get duplicate items.    3.Lists are mutable and dynamic in nature.     4.Items of lists can be added removed once a list is defined'

In [18]:
#In reference to question 2
#Example: 
a=[1,2,"3+j","3+f",7,"hh"]                 #Firstly these are unordrable
a[0]=15                                    #here we change oth index 1 by 15 it can change
print(a)

[15, 2, '3+j', '3+f', 7, 'hh']

                                                   QUESTION NO 3

In [37]:
# Question 3 : Describe how to access,modify,and delete elements in a list with Examples.
"Answer :"
# For accessing the value
lst=["jatin","sumit","gagan","dhawan"]
print(lst[0],lst[1],lst[2],lst[3])

jatin sumit gagan dhawan

                               ACCESSING ELEMENTS IN PYTHON

In [38]:
# So basically the indexing aand list items are this
print("index""\t""list items""\n""0""\t""jatin""\n""1""\t""sumit""\n""2""\t""gagan""\n""3""\t""dhawan")

index	list items
0	jatin
1	sumit
2	gagan
3	dhawan

                                       FOR MODIFY A LIST

In [42]:
lst

['jatin', 'sumit', 'gagan', 'dhawan']

In [47]:
# We have already a list so we it
# We already access the values as above
lst[1]="anshul"                  #here we modify gagan by anshul
print(lst)

['jatin', 'anshul', 'gagan', 'dhawan']

                                           FOR DELETE ELEMENTS

In [17]:
lst=["rahul","sumit","gagan","dhawan"]             #doing our work on already defined list

In [18]:
lst

['rahul', 'sumit', 'gagan', 'dhawan']

In [19]:
# we want to delete element from list
lst.remove("rahul")                                 #we remove anshul by remove keyword

In [20]:
# if we check new list after delete jatin 
lst

['sumit', 'gagan', 'dhawan']

In [21]:
# We want to remove all elements from a list
lst

['sumit', 'gagan', 'dhawan']

In [26]:
lst.clear()                             #here we delete all items from the list and makes the list empty

In [25]:
lst

[]

                                                QUESTION 4

In [42]:
# Question 4 : Compare and contrast tuples and lists with example.
# FIRSTLY TALK ABOUT LISTS
"Answer : Comparions  :-    1.Lists are mutable whereas tuples are immutable       2.Lists have several built in methods whereas tuples have not several built in           3.unexpected errors canshow whereas tuples are immutable there is less chance of errors.        4.symbol of list[],symbol of tuples ()"

'Answer : Comparions  :-    1.Lists are mutable whereas tuples are immutable       2.Lists have several built in methods whereas tuples have not several built in           3.unexpected errors canshow whereas tuples are immutable there is less chance of errors.        4.symbol of list[],symbol of tuples ()'

           EXAMPLES :-

In [43]:
#LISTS
b1=[55,87,69,45,85,87,]
b1[5]

87

In [46]:
b1[5]=77                              #Earlier we see 5th indexing is 87 but now we chage it by 77 and it change because it it mutable.

In [45]:
b1

[55, 87, 69, 45, 85, 77]

In [48]:
#TUPLES
tp1=("mango","apple","pineapple","lichi","grapes")
tp1[0]

'mango'

In [50]:
tp1[0]="black berries"               # here it shows an error because it is immutable

TypeError: 'tuple' object does not support item assignment

                                            QUESTION 5

In [52]:
# Question 5 : Describe the key features of set and provide examples of their use.
"Answer : Sets are used to store multiple items in a single variable. these are unique they are not allow duplicate value. they are unordered i nature."

'Answer : Sets are used to store multiple items in a single variable. these are unique they are not allow duplicate value. they are unordered i nature.'

In [54]:
# In reference to question 5
list1=["cauliflower","cauliflower","potato","tamato","brinjal","brinjal"]
s=set(list1)                  # here we change a list to set and multiple occurrence convert into one.
print(s)

{'tamato', 'potato', 'cauliflower', 'brinjal'}

In [55]:
# Another Example in reference to question 5
# AS WORKING ON PREVIOUS SET
S[0]                                         # IF WE WANT TO ACCESS ANY ITEM IT CANNOT ACCESS

NameError: name 'S' is not defined

                                          QUESTION NO 6

In [1]:
# Question 6 : Discuss the use cases of tuples and sets in python programming.
# ANSWER : SOME OF THE USE CASES OF TUPLES AND SETS ARE AS FOLLOWS:
# CREATING A TUPLE
my_tup=(1,2,3,4,5)
type(my_tup)

tuple

In [2]:
# SLICING OF TUPLE 
my_tup=("apple","mango","banana","cherry")
my_tup[1:3]                       # here we access tuple

('mango', 'banana')

In [3]:
# ACCESSING A TUPLE
my_tup

('apple', 'mango', 'banana', 'cherry')

In [5]:
my_tup[0]

'apple'

In [6]:
# CONCATENATION
a1=(11,23,55,44,78,59,56)
a2=(85,78,26,54,13,89,78)
print(a1+a2)

(11, 23, 55, 44, 78, 59, 56, 85, 78, 26, 54, 13, 89, 78)

In [7]:
# SETS EXAMPLE
# CREATING A SET
b1={1,4,5,2,3,6}
type(b1)

set

In [13]:
# ADD ELEMENTS TO A SET
b1

{1, 2, 3, 4, 5, 6, 10}

In [14]:
b1.add(10)                          # we add another element which is 10

In [15]:
b1

{1, 2, 3, 4, 5, 6, 10}

In [18]:
# SET UNION
a1={1,2,3}
a2={3,4,5}
print(a1.union(a2))                           # The element which is common in both set is now only one in new set

{1, 2, 3, 4, 5}

In [19]:
# SET INTERSECTION
set1={"apple","mango","banana","lichi"}
set2={"lichi","watermelon","grapes","kiwi"}
set1.intersection(set2)                                     # The common element will print

{'lichi'}

In [20]:
# SET DIFFERENCE
set1={1,2,3,4}
set2={4,5,6,7}
set1.difference(set2)

{1, 2, 3}

In [24]:
# SYMMETRIC DIFFERENCE
set1={1,2,3}
set2={3,4,5}
set1.symmetric_difference(set2)                # common will remove

{1, 2, 4, 5}

                                              QUESTION NO 7

In [25]:
# Question 7 : Describe how to add, moify and delete items in a dictionary with exaamples.
"Answer : for adding items use syntax dictionary[key]=value"

'Answer : for adding items use syntax dictionary[key]=value'

:- FOR ADDING ITEMS IN A DICTIONARY

In [43]:
fruits={"apple":5,"banana":6,"orange":3}
fruits["watermelon"]=10          # Here we add another key value pair

In [44]:
fruits

{'apple': 5, 'banana': 6, 'orange': 3, 'watermelon': 10}

:- FOR MODIFY ITEMS

In [45]:
a1={"pen":3,"pencil":5,"copy":6}

In [46]:
a1

{'pen': 3, 'pencil': 5, 'copy': 6}

In [47]:
a1["pen"]=10                      # Here we change or modify the value of pen by 10

In [48]:
a1

{'pen': 10, 'pencil': 5, 'copy': 6}

:- FOR DELETE ITEMS

In [57]:
a1={"pen":10,"pencil":5,"copy":6}

In [58]:
a1

{'pen': 10, 'pencil': 5, 'copy': 6}

In [59]:
del a1["pen"]                        # here we delete pen key from the dictionary

In [61]:
a1                                  # only pencil and copy remains

{'pencil': 5, 'copy': 6}

                                            QUESTION NO 8

In [ ]:
# Discuss the importance of dictionary keys being immutable and provide examples.

In [62]:
"Answer : if the keys are mutable than their hash is also change.hash value is calculated from the key value find the keys. if we want to make any changes we have to convert it it to list then make changes "

'Answer : if the keys are mutable than their hash is also change.hash value is calculated from the key value find the keys. if we want to make any changes we have to convert it it to list then make changes '

In [64]:
# In reference to question 8
# if we use mutable type as dictionary key is shows type error
my_dict={[1,2,3]:"5"}                       # IT SHOWS HASHABLE TYPE ERROR

TypeError: unhashable type: 'list'

In [65]:
# IF WE USE USE TUPLE 
my_dict={(1,2,3):"5"}

In [67]:
my_dict                                   # IT DO NOT SHOW ANY ERROR BECAUSE WE CHANGE THE TYPE BY TUPLE

{(1, 2, 3): '5'}